$color-black: #000;
$color-white: #fff;
$color-link: #026f9c;
$color-link-hover: #004866;
$color-light-grey: #d0cac2;

$font-family-primary: "myriad-pro", Verdana, Tahoma, "DejaVu Sans", sans-serif;
$font-family-secondary: "adobe-garamond-pro", "Times New Roman", Times, Georgia, "DejaVu Serif", serif;

$spacing-horizontal: .6em;
$spacing-vertical: .6em;
