<nav id="main-menu">
  <ul class="menu">
    <li class="menu__item is-expanded first">
      <a href="#">Utdanning</a>
      <ul class="menu">
      {{# listItems.three}}
        <li><a href="{{ url }}">{{ linktitle }}</a></li>
      {{/ listItems.three}}
      </ul>
    </li>
    <li class="menu__item is-expanded first">
      <a href="#">Forskerutdanning</a>
      <ul class="menu">
      {{# listItems.three }}
        <li><a href="{{ url }}">{{ linktitle }}</a></li>
      {{/ listItems.three }}
      </ul>
    </li>
    <li class="menu__item is-expanded first">
      <a href="#">Forskning</a>
      <ul class="menu">
      {{# listItems.three }}
        <li><a href="{{ url }}">{{ linktitle }}</a></li>
      {{/ listItems.three }}
      </ul>
    </li>
    <li class="menu__item is-expanded first">
      <a href="#">Samfunn</a>
      <ul class="menu">
      {{# listItems.three }}
        <li><a href="{{ url }}">{{ linktitle }}</a></li>
      {{/ listItems.three}}
      </ul>
    </li>
    <li class="menu__item is-expanded first">
      <a href="#">Universitetet</a>
      <ul class="menu">
      {{# listItems.three }}
        <li><a href="{{ url }}">{{ linktitle }}</a></li>
      {{/ listItems.three}}
      </ul>
    </li>
  </ul>
</nav>
