h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-black;
	font-family: $font-family-primary;
	font-style: normal;
}

h1,
h2 {
	letter-spacing: 0.025em;
}

h1 {
	font-size: 2em;
	line-height: 1.5;
	margin: 0 0 0.75em 0;
}

h1,
h3 {
    font-weight: normal;
}

h2,
h3 {
	font-size: 1.5em;
	margin: 0 0 1em 0;
}
