html {
    font-size: 75%;
    line-height: 1.5;
}
p {
	font-family: $font-family-primary;
	color: $color-black;
	margin: 0 0 1.5em 0;
}
a {
    color: $color-link;
	font-weight: 400;

	&:hover {
        color: $color-link-hover;
	}
}
