<nav id="glaobal-menu">
	<ul class="global-menu">
    <li class="first"><a href="{{ url }}">Utdanning</a></li>
    <li><a href="{{ url }}">Forskning</a></li>
    <li><a href="{{ url }}">Internasjonalt</a></li>
    <li><a href="{{ url }}">Aktuelt</a></li>
    <li><a href="{{ url }}">Om UiB</a></li>
    <li><a href="{{ url }}">Bibliotek</a></li>
    <li class="last"><a href="{{ url }}">Kontakt</a></li>
	</ul>
</nav>
