<div class="region-bottom">
  <div id="block-views-relevant-links-block-1">
    <div class="field-name-field-uib-title">Snarveier</div>
    <div class="field-name-field-uib-links">
      <div class="field-items">
        <div class="field-item"><a href="{{ url }}">Universitetsledelsen</a></div>
        <div class="field-item"><a href="{{ url }}">Sentraladministrasjonen</a></div>
        <div class="field-item"><a href="{{ url }}">Fakulteter og institutter</a></div>
        <div class="field-item"><a href="{{ url }}">Bibliotek</a></div>
        <div class="field-item"><a href="{{ url }}">Museum</a></div>
      </div>
    </div>
  </div>
</div>

