&lt;p class=&quot;font-family-primary&quot;&gt;Primary font: &quot;Verdana&quot;, &quot;Tahoma&quot;, &quot;DejaVu Sans&quot;,  sans-serif;&lt;/p&gt;
&lt;p class=&quot;font-family-primary&quot;&gt;&lt;em&gt;Primary font italic: &quot;Verdana&quot;, &quot;Tahoma&quot;, &quot;DejaVu Sans&quot;, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-family-primary&quot;&gt;&lt;strong&gt;Primary font bold: &quot;Verdana&quot;, &quot;Tahoma&quot;, &quot;DejaVu Sans, sans-serif;&lt;/strong&gt;&lt;/p&gt;
