<div class="field-name-field-uib-social-media">
  <div class="field-label">Følg oss på:&nbsp;</div>
  <div class="field-items">
    <div class="field-item"><a href="https://twitter.com/uib" class="icons-social-twitter" title="Følg oss på Twitter">twitter</a></div>
    <div class="field-item"><a href="https://facebook.com/universitetetibergen" class="icons-social-facebook" title="Følg oss på Facebook">facebook</a></div>
    <div class="field-item"><a href="https://youtube.com/unibergen" class="icons-social-youtube" title="Følg oss på Youtube">youtube</a></div>
    <div class="field-item"><a href="https://vimeo.com/uib" class="icons-social-vimeo" title="Følg oss på Vimeo">vimeo</a></div>
    <div class="field-item"><a href="https://flickr.com/unibergen" class="icons-social-flickr" title="Følg oss på Flickr">flickr</a></div>
    <div class="field-item"><a href="https://instagram.com/unibergen" class="icons-social-instagram" title="Følg oss på Instagram">instagram</a></div>
  </div>
</div>
