<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #aa0000;"></span>
		<span class="sg-label">#aa0000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d95900;"></span>
		<span class="sg-label">#d95900</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #77af00;"></span>
		<span class="sg-label">#77af00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #009de0;"></span>
		<span class="sg-label">#009de0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d0cac2;"></span>
		<span class="sg-label">#d0cac2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #34332b;"></span>
		<span class="sg-label">#34332b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
</ul>
