<p class="font-family-primary">Primary font: "Myriad Pro", "Verdana", "Tahoma", "DejaVu Sans",  sans-serif;</p>
<p class="font-family-primary"><em>Primary font italic: "Myriad Pro", "Verdana", "Tahoma", "DejaVu Sans", sans-serif;</em></p>
<p class="font-family-primary"><strong>Primary font bold: "Myriad Pro", "Verdana", "Tahoma", "DejaVu Sans, sans-serif;</strong></p>
<p class="font-family-secondary">Secondary font: "Adobe Garamond Pro", "Times New Roman", Times, Georgia, "DejaVu Serif",  serif;</p>
<p class="font-family-secondary"><em>Secondary font italic: "Adobe Garamond Pro", "Times New Roman", Times, Georgia, "DejaVu Serif",  serif;</em></p>
<p class="font-family-secondary"><strong>Secondary font bold: "Adobe Garamond Pro", "Times New Roman", Times, Georgia, "DejaVu Serif",  serif;</strong></p>
