<p class="font-family-primary">Primary font: "Verdana", "Tahoma", "DejaVu Sans",  sans-serif;</p>
<p class="font-family-primary"><em>Primary font italic: "Verdana", "Tahoma", "DejaVu Sans", sans-serif;</em></p>
<p class="font-family-primary"><strong>Primary font bold: "Verdana", "Tahoma", "DejaVu Sans, sans-serif;</strong></p>
